<div id="contact" class="container">
  Fill out the form and we'll get back in touch.

  <form action="">
    <span>
      Name: <input type="text" placeholder="Enter your name">
    </span>
    <span>
      E-mail: <input type="text" placeholder="Enter your email">
    </span>
    <span>
      Inquiry: <input id="inquiry" type="text" placeholder="Enter your inquiry">
    </span>
    <input type="submit" id="contact-btn" class="btn btn-info">
  </form>
</div>