<div id="main">
  <div id="one">
    <span class="centered one show hidden">Ruby Bakery</span>
  </div>
  <div id="two">
    <span class="centered two show hidden">Made with fresh erb's...</span>
  </div>
  <div>
    <span class="centered three hidden">...and baked with class.</span>
  </div>
  <div>
    <span class="centered four hidden">Enjoy shopping!</span>
  </div>

  <div id="sticky">
    <i class="fas fa-chevron-down hidden"></i>
    <i class="fas fa-chevron-down hidden"></i>
    <i class="fas fa-chevron-down hidden"></i>
  </div>
</div>
