<!DOCTYPE html>
<html>
<head>
  <title>Ruby Bakery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href=<%= url("/favicon.ico") %> rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href=<%= url("landing.css") %> />
</head>
<body>
  <%= yield %>

  <div id="redirect">
    END OF PAGE. If not automatically redirected, refresh the page.
  </div>
  <script src="landing.js"></script>
</body>
</html>