<div id="start">
  <p>Browse through our selection of baked goods!</p>
  <div class="row container">
    <a href="/cookies#product" class="col-4 start">
      <div>
        <span class="centered">COOKIES</span>
        <img src=<%= url('/media/cookie-2.jpeg') %> alt="Cookies">
      </div>
    </a>

    <a href="/cakes#product" class="col-4 start">
      <div>
        <span class="centered">CAKES</span>
        <img src=<%= url('/media/cake-1.jpeg') %> alt="Cakes">
      </div>
    </a>

    <a href="/muffins#product" class="col-4 start">
      <div>
        <span class="centered">MUFFINS</span>
        <img src=<%= url('/media/muffin-4.jpg') %> alt="Muffins">
      </div>
    </a>
  </div>
</div>