#header-container {
  width: 100%;
  display: flex;
  background: blanchedalmond;
  justify-content: center;
  margin-bottom: 2%;
  padding: 1% 0; }
  #header-container #main-header {
    align-items: center;
    background-color: blanchedalmond;
    padding: 1% 0;
    width: 90%; }
    #header-container #main-header #branding {
      white-space: nowrap;
      display: flex;
      justify-content: center; }
      #header-container #main-header #branding #logo {
        width: 4vw;
        min-width: 50px;
        margin-bottom: 15px;
        margin-right: 15px; }
      #header-container #main-header #branding #company {
        font-size: 3.6vw; }
    #header-container #main-header nav {
      margin-top: 10px; }
      #header-container #main-header nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        font-size: 2vw; }
        #header-container #main-header nav ul .dropdown #dropdownMenuButton {
          background: none;
          border: none;
          font-size: 2vw;
          color: #9b111e; }
        #header-container #main-header nav ul .dropdown .dropdown-item {
          color: #9b111e;
          font-size: 1.2em; }

#sidebar {
  background: rgba(222, 222, 222, 0.6);
  padding: 10px;
  flex-direction: column;
  border-radius: 10px; }
  #sidebar #product-list {
    list-style: none;
    padding: 0; }
  #sidebar #cart {
    max-height: 800px;
    overflow: auto; }
    #sidebar #cart .card {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px; }
      #sidebar #cart .card .cart-delete {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        padding: 5px 10px; }
        #sidebar #cart .card .cart-delete:hover {
          opacity: 1; }
      #sidebar #cart .card .img-container {
        max-width: 150px;
        text-align: center; }
        #sidebar #cart .card .img-container .cart-item {
          max-width: 100%;
          max-height: 150px; }
      #sidebar #cart .card .product-info {
        width: 50%; }
        #sidebar #cart .card .product-info .total {
          font-weight: bold; }
  #sidebar #checkout {
    width: 100%;
    background: blanchedalmond;
    color: #9b111e;
    font-weight: bold; }

#start {
  font-size: 1.6em; }
  #start .start:hover .centered {
    color: white; }
  #start .start img {
    width: 100%; }
  #start .start .centered {
    background: rgba(233, 233, 233, 0.5);
    color: #9b111e;
    font-weight: bold;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#product {
  padding-left: 30px;
  padding-right: 0; }
  #product #gallery {
    max-height: 900px;
    overflow: auto; }
    #product #gallery .card .img-container {
      display: flex;
      height: 300px;
      width: 100%;
      background: rgba(234, 234, 234, 0.2); }
      #product #gallery .card .img-container .img {
        max-height: 300px;
        max-width: 100%;
        margin: auto; }
    #product #gallery .card .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #product #gallery .card .product-info .price-container {
        justify-content: space-around;
        align-items: center; }
      #product #gallery .card .product-info .price-form {
        white-space: nowrap; }
        #product #gallery .card .product-info .price-form .select {
          height: 35px;
          margin-right: 10px; }

#footer {
  background-color: blanchedalmond;
  padding: 1% 0;
  margin: 2% 0 0 0;
  font-size: 1.2em; }
  #footer .ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }
  #footer #social {
    margin: 5px 0; }
    #footer #social .fab {
      transform: scale(2.5, 2.5);
      margin: 0 25px; }
  #footer #email {
    flex-direction: column; }
    #footer #email form {
      margin: 0 5px;
      display: flex; }
      #footer #email form #email-btn {
        margin-left: 5px;
        padding: 3px; }

@media screen and (max-width: 992px) {
  #footer #social {
    margin-bottom: 20px; } }
#about {
  font-size: 1.4em; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadein {
  animation: fadein 0.3s ease-in-out; }

@media screen and (max-width: 1200px) {
  #header-container #main-header #branding #company {
    font-size: 2.4em; }
  #header-container #main-header nav ul {
    font-size: 1.6em; }
    #header-container #main-header nav ul .dropdown #dropdownMenuButton {
      font-size: 1em; }

  #sidebar #cart .card {
    flex-wrap: wrap; } }
@media screen and (max-width: 575px) {
  #sidebar #cart {
    max-height: 400px; }
    #sidebar #cart .card {
      flex-wrap: nowrap; }

  #product {
    width: 90%;
    margin: 0 auto;
    padding: 0; } }
body {
  font-family: 'Raleway', sans-serif;
  color: #9b111e;
  background: #eee;
  margin: 0; }

#main {
  margin: 0 auto;
  width: 95%; }

a {
  color: #9b111e; }
  a:hover {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
