@import './partials/variables';
@import './partials/header';
@import './partials/sidebar';
@import './partials/start';
@import './partials/product';
@import './partials/footer';
@import "./partials/about";
@import './partials/animations';
@import './partials/contact';
@import './partials/media-queries';

body {
  font-family: 'Raleway', sans-serif;
  color: $primary-color;
  background: $body-color;
  margin: 0;
}

#main {
  margin: 0 auto;
  width: 90%;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }
}