#header-container {
  width: 100%;
  display: flex;
  background: $secondary-color;
  justify-content: center;
  margin-bottom: 2%;
  padding: 1% 0;

  #main-header {
    align-items: center;
    background-color: $secondary-color;
    padding: 1% 0;
    width: 90%;

    #branding {
      white-space: nowrap;

      #logo {
        width: 4vw;
        min-width: 50px;
        margin-bottom: 15px;
        margin-right: 15px;
      }

      #company {
        font-size: 3.6vw;
      }
    }

    nav {
      margin-top: 10px;

      ul {
        display: flex;
        padding: 0;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        font-size: 2vw;

        .dropdown {
          #dropdownMenuButton {
            background: none;
            border: none;
            font-size: 2vw;
            color: $primary-color;
          }

          .dropdown-item {
            color: $primary-color;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}