@media screen and (max-width: 1200px) {
  #header-container {
    #main-header {
      #branding {
        #company {
          font-size: 2.4em;
        }
      }

      nav {
        ul {
          font-size: 1.6em;

          .dropdown {
            #dropdownMenuButton {
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  #sidebar {
    #cart {
      .card {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #sidebar {
    #cart {
      max-height: 400px;

      .card {
        flex-wrap: nowrap;
      }
    }
  }

  #product {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}