#product {
  padding-left: 30px;
  padding-right: 0;

  #gallery {
    max-height: 900px;
    overflow: auto;

    .card {
      .img-container {
        margin-top: 10px;
        display: flex;
        height: 300px;
        width: 100%;
        background: rgba(234, 234, 234, 0.2);

        .img {
          max-height: 300px;
          max-width: 100%;
          margin: auto;
        }
      }

      .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .price-container {
          justify-content: space-around;
          align-items: center;
        }

        .price-form {
          white-space: nowrap;

          .select {
            height: 35px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}