#product {
  #gallery {
    .card {
      width: 30%;
      margin: 10px;

      #img-container {
        display: flex;
        height: 300px;
        width: 100%;
        background: rgba(234, 234, 234, 0.2);

        .img {
          max-height: 300px;
          width: 100%;
          margin: auto;
        }
      }
    }
  }
}