#sidebar {
  flex-direction: column;

  #product-list {
    list-style: none;
    padding: 0;
  }

  #cart {
    max-height: 740px;
    overflow: auto;

    .card {
      .cart-delete {
        position: absolute;
        right: 0;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      .cart-item {
        width: 100%;
      }
    }
  }
}