#sidebar {
  background: rgba(222, 222, 222, 0.6);
  padding: 10px 10px 0 10px;
  flex-direction: column;
  border-radius: 10px;

  #product-list {
    list-style: none;
    padding: 0;
  }

  #cart {
    max-height: 740px;
    overflow: auto;

    .card {
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .cart-delete {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        padding: 5px 10px;

        &:hover {
          opacity: 1;
        }
      }

      .img-container {
        max-width: 150px;

        .cart-item {
          width: 100%;
          max-width: 150px;
          max-height: 150px;
        }
      }

      .product-info {
        .total {
          font-weight: bold;
        }
      }
    }
  }

  #total-price-container {
    font-weight: bold;
    font-size: 1.2em;
  }
}